.infobox {
    position: relative;
    display: grid;
    background-color: #e63894;
    color: #f4e911;
    text-align: left;
    height: fit-content;
    width: 400px;
    font-size: 20px;
    margin-left: 50px;
    z-index: 1;
    grid-template-areas: "head head head head"
           "label15 label15 info15 info15" ;
}

.head {
    grid-area: head;
    text-align: center;
    font-size: 30px;
}
.poster {
    grid-area: poster;
}
.poster img {
    width: 400px;
    height: auto;
}
.label1 {
    grid-area: label1;
}
.label2 {
    grid-area: label2;
}
.label3 {
    grid-area: label3;
}
.label4 {
    grid-area: label4;
}
.label5 {
    grid-area: label5;
}
.label6 {
    grid-area: label6;
}
.label7 {
    grid-area: label7;
}
.label8 {
    grid-area: label8;
}
.label9 {
    grid-area: label9;
}
.label10 {
    grid-area: label10;
}
.label11 {
    grid-area: label11;
}
.label12 {
    grid-area: label12;
}
.label13 {
    grid-area: label13;
}
.label14 {
    grid-area: label14;
}
.label15 {
    grid-area: label15;
}
.info1 {
    grid-area: info1;
}
.info2 {
    grid-area: info2;
}
.info3 {
    grid-area: info3;
}
.info4 {
    grid-area: info4;
}
.info5 {
    grid-area: info5;
}
.info6 {
    grid-area: info6;
}
.info7 {
    grid-area: info7;
}
.info8 {
    grid-area: info8;
}
.info9 {
    grid-area: info9;
}
.info10 {
    grid-area: info10;
}
.info11 {
    grid-area: info11;
}
.info12 {
    grid-area: info12;
}
.info13 {
    grid-area: info13;
}
.info14 {
    grid-area: info14;
}
.info15 {
    grid-area: info15;
}
a {
    color: #fff990;
}
@media screen and (max-width: 500px) {
    .infobox {
        position: relative;        
        width: fit-content;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}