.albums {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    .albumcontainer {
        img {
            width: 300px;
            border-radius: 50px;
            box-shadow: 5px 3px 5px 3px #004369;
            
        }
        img:hover {
            box-shadow: none;
        }
         p {
           font-size: 25px;
           text-align: center;

        }
}
       
}
a:hover {
    color: #ff82ae;
}