#root main { 
    display: flex;
    flex-direction: column;
}
.romances { 
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
h1, h2 {
    text-align: center;
}
h2 {
    display: block;
    font-size: 50px;
    color: #e53993;
}
.romances .ship-container {
    width: 300px;
}
 .romances .ship-container img {
    width: 300px; 
    border-radius: 50px;
    border: 8px solid #e53993;
}

#root main section section img:hover {    
    border: 8px solid #96004e;
 }
.romances .ship-container p {
    font-size: 30px;
    color: #e53993;
}
.friendships {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 30px;
    margin-left: -150px;
}
.friendships .ship-container {
    width: 300px;
}
.friendships .ship-container img {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    border: 8px solid #e53993;
}
.friendships .ship-container p {
    font-size: 25px;
    text-align: center;
    color: #e53993;
}