header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 600px;
  height: 75px;
  margin-left: 350px;
  gap: 2rem;
}
header .logo img {
  position: relative;
  height: 200px;
  width: auto;
  top: 60px ;
}
 @media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    position: relative;
    left: -130px;
    margin-right: 50px;
    width: 100%;
    height: 75px;
  }
  header .logo {
    display: none;
  }
}