main {
    margin-top: 75px;
    color: #e63894;
    place-items: center;
}
.character-wrapper {
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.firstrow {
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    margin: 0 auto;
}
.secondrow {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: fit-content;
}
.characterContainer {
    background-color: #e63894;
    color: #f4e911;
    height: auto;
    width: 300px;
    margin: 10px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px #1d1c0a;
}
.characterContainer:hover {
    box-shadow: none;
    border: 3px solid #1d1c0a;
}
.character-wrapper h1, p {
    color: #f4e911;
    text-align: center;

}
.character-wrapper img {
    width: 300px;
    height: auto;
    object-fit: cover;
}
.character-wrapper p {
    position: relative;
    font-size: 20px;
    padding: 1rem;
    bottom: 15px;
    color: #f4e911;
    text-align: center;
}
.character-wrapper h1 {
    font-size: 50px;
}