.season-layout {
    display: grid;
    width: 100%;
    grid-template-areas:"headline headline headline headline sidebar"
    "premise premise premise premise sidebar"
    "premise premise premise premise sidebar"
    "episodes episodes episodes episodes sidebar"
    "episodes episodes episodes episodes sidebar"
    "episodes episodes episodes episodes sidebar" ;
    text-align: left;
}
.season-layout > section, aside, main {
    border: 1px solid black;
}
.headline {
    grid-area: headline;
}
aside {
    grid-area: sidebar;
}
.premise {
    grid-area: premise;
    text-align: left;
}
.episodes {
    grid-area: episodes;
    text-align: left;
}