.nav {
  display: flex;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
  font-size: 23px;
  top: 50px;
  .active {
    border-bottom: 2px solid #e63894;
  }
}


.navLogo > img {
    position: relative;
    width: 250px;
}
.nav a {
    color: #e63894;
    text-decoration: none;
} 
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #e63894;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .hamburger {
    display: block;
    position: absolute;
    z-index: 10;
    margin: 1rem 0;
    left: 0;
    top: 10px;
    margin-bottom: -20px;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50px;
    width: 100dvh;
    left: 0;
    z-index: 10000;
    /* right: 500px; */
  }
  .nav li {
        width: 100vw;
  }
  .nav.open {
    display: flex;
  }
}